body {
    background-color:rgb(85, 206, 135);
    text-align: center;
}
header {
    background-color: aqua;
    font-size: 35px;
    color: rgb(197, 166, 166);
}
p{
    color: blue;
    font-size: small;
}
h1 {
    padding: 10px;
    border: 2px solid red;
    font-size: small;
    border-radius: 12px;
}
ul {
    border-radius: 60;
    border: 5px solid red;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
ol {
    border:2px solid red;
    border-radius: 12px;
    padding: 10px;
    font-size: medium;
}
dt {
    text-align: left;
}
dd{
    text-align: start;
}
li {
    text-align: left;
}
h2,h3,h4,h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
em{
    font-size: medium;
}